/*
You can add your own CSS here.

Click the help icon above to learn more.
*/

.simcal-event-bubble {
    background-color: #555555;
}
h1, h2, h3, p, li, body {
	color: white !important;
}

.entry-title {
	font-size: 36px;
	text-align: center;
}

.main-navigation li a {
	color: #FFF;
	font-size: 16px !important;
	text-transform: capitalize !important;	
	padding-left: .5em !important;
	padding-right: 0.5em !important;
	padding-top: 0em !important;
	padding-bottom: 0em !important;
	white-space:nowrap; 
}

.main-navigation ul ul li {
	border-bottom: 0px solid #333; /*was 1px*/
}

.main-navigation ul ul {
  top: 2.1em;
  padding-left: 0.4em;
	padding-right: 0%;
	padding-top: 0em;
	padding-bottom: 0em;
}

.current-menu-ancestor/*
You can add your own CSS here.

Click the help icon above to learn more.
*/

.simcal-event-bubble {
    background-color: #555555;
}
h1, h2, h3, p, li, body {
	color: white !important;
}

.entry-title {
	font-size: 36px;
	text-align: center;
}

.main-navigation li a {
	color: #FFF;
	font-size: 16px !important;
	text-transform: capitalize !important;	
	padding-left: .5em !important;
	padding-right: 0.5em !important;
	padding-top: 0em !important;
	padding-bottom: 0em !important;
	white-space:nowrap; 
}

.main-navigation ul ul li {
	border-bottom: 0px solid #333; /*was 1px*/
}

.current-menu-ancestor > a {
  background-color:#666;
	border-radius: 0.2em;
	display: block;
}

.main-navigation ul ul a:hover {
  color: #FFF;
	display: block;
	background-color: #666;
	border-radius: 0.2em;
}

.main-navigation ul ul a {
  padding-left: 0em;
	padding-right: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
  color: #FFF;
  width: inherit;
  white-space: nowrap;
}

.menu-item-type-custom {
	cursor: default;	
}

#smoothup {
	display: none !important;
}

.list_1 {
	padding-left: 22px;
}

.list_2 {
	padding-left: 44px;
} 