/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/
h1, h2, h3, p, li {
	color: white !important;
}

.entry-title {
	font-size: 36px;
	text-align: center;
}

.main-navigation li a {
	color: #FFF;
	font-size: 16px !important;
	text-transform: capitalize !important;
	padding-left: .3em !important;
}

