.site-header {
		background-image: url("../images/development-header-(draft).png");
}
body {
    background-image: url("../images/development-header-(draft).png");
    background-repeat: repeat-x;
    background-position: 0% 3%;
	padding: 7.5em 0 0;
}
#masthead {
    position: relative;
    top: 20px;
    left: 50px;
}

#main{
    padding: 7.5em 0 0;
	
}