div#page {
	margin: 0 auto;
    max-width: 980px;
    width: 90%;
}
hgroup {
    width: 40%;
	float: left;
}
.site-title {
    border: medium solid red;
	width: 100%;
}
nav.main-navigation {
    float: right;
    width: 55%;
}
.main-navigation li {
    margin-left: 1em;
}

body {
    background-color: #B8B8B8;
}